@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {font-family: 'Noto Sans KR', sans-serif, 'Roboto'; margin: 0;}
p {margin: 0;}
button { border: none; cursor: pointer;background:none;}

/* main navi */
header {background: url('media/main_visual01.png') no-repeat; background-size: 100% 960px; width: 100%; height: 960px;}
.nav_wrap {padding: 15px 5%; display: flex; justify-content: space-between; align-items: center;}
.nav_wrap .logo {font-size: 30px; font-weight: bold; color: #ffffffc0; }
.nav_wrap .nav_lf {display: flex; align-items: center;}
.nav_wrap .nav_lf span {font-weight: 700;}
.nav_wrap .nav_lf img {width: 100px;}
.nav_wrap .nav_rt ul {list-style-type: none; margin: 0; padding: 0;}
.nav_wrap .nav_rt ul li {display: block; float: left; margin-right: 20px;}
.nav_wrap .nav_rt ul li a {text-decoration: none; font-weight: 300; font-size: 16px; color: white;}
.nav_wrap .nav_rt ul li a:hover {font-weight: bold;}
.visual_txt {font-size: 150px; font-weight: 700; letter-spacing: 30px; color: #ffffffc0; text-align: center;margin-top: 280px;}

/* main section_01 */
.main_view_wrap .title_wrap {text-align: center; margin-top: 100px;}
.main_view_wrap .title_wrap .sub_tlt {font-size: 16px; font-weight: 400; color: #333; line-height: normal;}
.main_view_wrap .title_wrap .main_tlt {font-size: 36px; font-weight: 700; color: #333; line-height: normal;}

.con_wrap {margin: 80px auto 150px; display: flex; justify-content: center;}
.con_wrap .con_l {width: 650px; height: 380px; background-color: #333;}
.con_wrap .con_l input[type=radio] {display: none;}
#tab-1:checked ~ .tab label:nth-child(1), #tab-2:checked ~ .tab label:nth-child(2), #tab-3:checked ~ .tab label:nth-child(3), #tab-4:checked ~ .tab label:nth-child(4) {background-color: #fff; color: #333; box-shadow: none; }
.content > div {display: none;}
#tab-1:checked ~ .content div:nth-child(1), #tab-2:checked ~ .content div:nth-child(2), #tab-3:checked ~ .content div:nth-child(3), #tab-4:checked ~ .content div:nth-child(4)  {display: block;}
.tab {overflow: hidden; padding-left: 60px;}
.tab label {font-size: 14px;cursor: pointer;float: left;width: 80px; height: 36px;line-height: 36px; text-align: center;text-transform: uppercase;font-weight: 400;user-select: none;-webkit-user-select: none; color: #fff; background-color: #333; border: 1px solid #fff; margin-top: 50px; margin-right: 10px;}
.content {min-height: 250px; color: #fff; position: relative;}
.content > div{padding:20px 60px 40px;line-height: 1.5;font-size: 16px; font-weight: 300;}
.content .content-dis a {color: #fff; text-decoration: none; font-size: 12px; padding: 10px 18px; border: 1px solid #fff; position: absolute; margin-top: 20px;}
.content .content-dis .more_w {margin: 0 0 3px 5px;}
.con_r {width: 650px; height: 380px; overflow: hidden;}

.con_r .imgOff {display: none;}
.imgOn {display: block !important;}
.con_r > img {width: 100%; height: 100%; object-fit: cover; }

/* main section_02 */
.crew_wrap {width: 100%; height: 640px; background-color: #333; position: relative;}
.crew_wrap .title_wrap {position: absolute; width: 1000px; height: 570px; background-color: #fff; padding: 100px 0;}
.side_set {text-align: left; margin-left: 15%;}
.crew_con {position: relative;}

/* footer */
footer {width: 100%; height: 360px; background-color: #333;}
